/* This is used to set the color mode for the app. */
html {
  --color-text: #1e2939;
  --color-bg: white;
  color: var(--color-text);
  background-color: var(--color-bg);
}
html.dark {
  --color-text: white;
  --color-bg: #1e2939;
}